.c-score-card-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.correct {
  background: #90EE90;
  
  .radio {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    opacity: 1;
    margin-left: 12px;
    background-color: #44B77B;;
  }
  .purpose-text {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    opacity: 0.5;
    margin-left: 12px
  }
}
.incorrect {
  background: #ffa9a9;
  .radio {
    
    border-radius: 50%;
    width: 15px;
    height: 15px;
    opacity: 1;
    margin-left: 12px;
    background: #ff3b3f;
  }
  .purpose-text {
    color: #000;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    opacity: 0.3;
    margin-left: 12px
  }
}
.response-count {
  margin-left: 12px;
  color: #000;
font-family: Source Sans Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 15px; /* 93.75% */
}
